html,
body {
  font-family: 'Amazon Ember';
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fff;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}
.TAh4{
  
  font-family: 'Poppins', sans-serif;
}
#TAEmail{
  color: #019267;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: black;
  padding: 1rem 1rem;
}
.navbar-brand{
    color:#fff;
    font-family: 'Poppins', sans-serif;
    
}
.navbarlogopng{
  width: 14%;
}
.navbarText{
  color:#fff;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}
#products_heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color:#65C18C;
  text-align: center;
}

#search_btn {
  background-color: #65C18C;
  padding: 2px;
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

#search_field {
  height: 2.4rem;
  padding: 1rem;
}

#login_btn,
#view_btn {
  background-color: #65C18C;
  padding: 0.2rem 0.2rem;
  font-family: 'Poppins', sans-serif;
  color:white;
  border-radius:5%;
  
}
#loginpng{
  width: 30%;
}

#cart {
  font-size: 1rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;

  
}

#cart_count {
  background-color: #65C18C;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */
#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
  padding-left: 0;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s;
  
}

.card-title a {
  color: #2e2e2e;
  transition: 0.1s;
}

.card-title a:hover {
  color: #65C18C;
  text-decoration: none;
}


card:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);

}
.card-text {
  font-size: 1.4rem;
}
.card-price{
  font-weight: 700;
  color: #219F94;
}

#view_btn {
  background-color: #65C18C;
  color: white;
  
}

.card-img-top {
  width: 200px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #019267;
  border: none;
  padding: 0.5rem 2rem;
}
#cart_btn:hover{
  background-color: #146356;
}


#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 9rem;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #65C18C;
  border-color: #65C18C transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #65C18C;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #65C18C;
  border-color: #65C18C;
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3.5rem;
  text-align: center;
}
.cartisEmpty{
  font-family: 'Poppins', sans-serif;
  color:#146356;
  text-align: center;
  
}
.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #65C18C;
  border-color: #65C18C;
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: 'Poppins', sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #65C18C;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #65C18C;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #65C18C;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #65C18C;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #65C18C;
  border-color: #65C18C;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
}

.update-btn:hover {
  color: white;
}

/* Pagination */

.page-item.active .page-link {
  background-color: #65C18C;
  border-color: #65C18C;
  border-radius: 100%;
  
}

.page-link {
  color: #65C18C;
  border-radius: 100%;
  margin-left: 0.4rem;
  border-color: #65C18C;
}

.page-link:hover {
  color: #65C18C;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: black;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #019267;
}
#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #019267;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #019267;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #019267;
}
a[data-toggle='collapse'] {
  position: relative;
}
.dropdown-menu{
  background-color: black;
  color: white;
}
.dropdown-item{
  color:white
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
}


ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: black;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}

.imgBx{
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-image: url('C:\Users\hadi\Desktop\FYP_Dev\frontend\public\images\asd.jpg');
  align-items: center;
  display: flex;
  background-color: #65C18C;

}

#features{
  padding: 7% 15%;
}
.container1{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.card{
  background: white;
  width: 270px;
  
  margin: 30px;
  border-radius: 20px;
  font-family:'Poppins', sans-serif; ;
}
.card:hover{
  cursor: pointer;
  transform: scale(1.03);
}
.card-image{
  background-color: aqua;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;

}
.car-1{
  background-image: url('C:\Users\hadi\Desktop\FYP_Dev\frontend\public\images\gilgit.jpg');
}
.car-2{
  background-image: url('C:\Users\hadi\Desktop\FYP_Dev\frontend\public\images\kaghan.jpg');
}
.car-3{
  background-image: url('C:\Users\hadi\Desktop\FYP_Dev\frontend\public\images\murree.jpg');
}
.card h2{
  padding: 10px;
}
.card p{
  padding: 10px;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
h3{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.contenth2{
  color: #fff;
}
.cardAnchor{
  background-color: #65C18C;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}
.adminDash{
  font-family: 'Poppins', sans-serif; 
  color:#219F94;
  display: inline;
  margin-right: 100px;
}
p{
  color:#8f8f8f;
}
#topParagraph{

  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top:5px ;
  margin-bottom:5px ;
  color:#019267;
  
}
.icon{
  color:#65C18C;
  margin-bottom: 20px;
}
.cover{
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.content{
  font-family: 'Poppins', sans-serif;
  position: relative;
  left: 10%;
  bottom: 100px;
  color: white;
}
.content h2{
  font-weight: 500;
  letter-spacing: 1px;
  
}
.content h2 span{
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 4rem;
  
}
.contentSpan{
  color:#019267;
}
.content p{
font-size: 1.2rem;
margin-bottom: 20px;
}
.pl-0 li:hover{
  color:#65C18C;
  transition: 0.2s;
  
  
  }
  
  .ctgbutton{
    background-color: #65C18C;
    color: white;
  }
  .ctgbutton:hover{
    background-color: #019267;
    color:white;
    transition: 0.2s;
  }
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
  text-align: center;
  align-items: center;
   width: 50%;
   padding: 0 15px;
}
.footer-col h4{
  
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:46%;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
